# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Environment
myenv/
.env
venv/
myenv
logs/
# Django
db.sqlite3


# Byte-compiled / optimized / DLL files
*.py[cod]
*.so

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# VS Code
.vscode/

# IDEs
.idea/
*.sublime-workspace
*.sublime-project

# Test Coverage
.coverage
*.cover
htmlcov/

# Celery
# Celery Beat
celerybeat-schedule*


# # Static files
# staticfiles/
# media/


